@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap');

*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;

}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00c3a5;
    height: 80px;
}

header span{
    font-size: 40px;
    color: white;
    font-family: 'Rubik', sans-serif;
}

.hero{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 650px;
    border: 1px solid red;
    background: #ccc;

}

.box-img{
    display: flex;
    width: 35%;
    height: 600px;
    border: 1px solid blue;
}

.box-txt{
    display: flex;
    width: 35%;
    height: 600px;
    border: 1px solid green;
}

